{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1>All Posts</h1>
    <div class="p-3 m-2 card rounded">
      <form>
        <h2>New Post</h2>
        <textarea
          class="form-control mb-3"
        ></textarea>
        <button class="btn btn-primary">
          Post
        </button>
      </form>
    </div>
    {% for post in posts %}
    <div class="p-3 m-2 card rounded">
      <h5>
        <a href="{% url 'profile' post.author.username %}">{{post.author.username}}</a>
      </h5>
      <p class="mb-0">
        <a href="">Edit</a>
      </p>
      <p class="mb-0">{{post.content}}</p>
      <p class="mb-0">{{post.created_at}}</p>
      <p class="mb-0">
        <button class="text-danger btn btn-bg-none outline-0 p-0 w-0">
          &hearts;
        </button>
        {{post.likes.count}}
      </p>
      <p class="mb-0">Comments</p>
    </div>
    {% endfor %}


<script src="{% static 'network/index.js' %}">
</script>

{% endblock %}