{% extends "network/layout.html" %} {% load static %} {% block body %}
<div class="p-3 m-2 text-center">
  <h1>{{ profile_user }}</h1>
  <h3>
    Followers: <span id="follower-count">{{ profile_user.followers.count }}</span> - Following: <span id="following-count">{{ profile_user.following.count }}</span>
  </h3>
  {% if request.user.is_authenticated and request.user != profile_user %}
  <a href="" data-username="{{ profile_user.username }}" data-is-follower="{{ is_follower | lower }}" class="follow">{% if is_follower %}Unfollow{% else %}Follow{% endif %}</a>
  {% endif %}
</div>
{% include 'network/post-list.html' %}
{% endblock %}
